.product{
    @include flex(flex-start,flex-start);

    &__images{
        @include flex(flex-start,flex-start);
        flex-wrap: wrap;
        width: 60%;

        &__list{
            width: 20%;

            &__item{
                cursor: pointer;  
            }
        }

        &__main{
            flex-grow: 1;
            padding-top: 100%;
            position: relative;

            img{
                height: 100%;
                left: 50%;
                position: absolute;
                top: 0;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    &-description{
        height: 400px;
        overflow: hidden;
        padding: 2rem 2rem 3rem;
        position: relative;
        width: 100%;

        &__title{
            font-size: 1.5rem;
            font-weight: 600;
            margin: 2rem 0;
        }

        &__content{
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: justify;
        }

        &__toggle{
            bottom: 0;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.expand{
            height: max-content;
        }
    }

    &__info{
        flex-grow: 1;
        padding-top: 2rem;
        position: -webkit-sticky;
        position: sticky;
        top: 40px;

        &__item{
            margin-top: 2rem;

            &__price{
                color: #4267b2;
                font-size: 2rem;
                font-weight: 600;
            }

            &__title{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .btn{
                margin-right: 10px;
            }

            &__quantity{
                @include flex(flex-start,flex-start);

                &__input{
                    border-bottom: 2px solid #8d8d8d;
                    border-top: 2px solid #8d8d8d;
                    width: 90px;
                }

                &__btn , &__input{
                    align-items:center;
                    @include flex(center,center);
                    font-size: 1.5rem;
                    height: 30px;
                }
                &__btn{
                    border: 2px solid #8d8d8d;
                    cursor: pointer;
                    width: 30px;
                }
            }

            &__list{
                @include flex(center,flex-start);

                &__item{
                    align-items: center;
                    border: 2px solid #8d8d8d;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    margin-right: 1rem;
                    width: 50px;

                    .circle{
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                    }

                    &__size{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }

                    &.active{
                        border-color: #4267b2;
                    }

                }
            }
        }
    }

    &-description__title{
        font-size: 2.5rem;
        font-weight: 400;
    }
}